@charset "utf-8";
/* CSS Document */

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
}
.titulotabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #003366;
}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.link01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: #0066CC;
}
.tabla01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
.txt01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #333333;
}
.redalert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: #FF0000;
}
.logout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: #669999;
}
.bluehint {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	color: #3366CC;
}
.input_error {
	background-color: #FF6A6A;
}
